<phpunit 
		backupGlobals="false" 
		backupStaticAttributes="true" 
		colors="true" 
		syntaxCheck="false"
		bootstrap="bootstrap.php">

	<testsuite name="AllTest">
		<dir>install</dir>
		<dir>setup</dir>
		<dir>test/com_xipt/admin</dir>
		<dir>test/com_xipt/front</dir>
	</testsuite>
	
	<listeners>
		<listener class="XiTestListener" file="./system/XiTestListener.php" />
	</listeners>	
</phpunit>


