<phpunit 
		backupGlobals="false" 
		backupStaticAttributes="true" 
		colors="true" 
		syntaxCheck="false"
		bootstrap="bootstrap.php"
		stopOnFailure="true" >

	<testsuite name="AllTest">		
		<directory>test/unit</directory>
		<file>test/com_xipt/admin/profiletypeTest.php</file>
		<file>test/com_xipt/admin/editUserTest.php</file>
		<file>test/com_xipt/admin/applicationTest.php</file>
		<file>test/com_xipt/admin/aclRulesTest.php</file>
		<file>test/com_xipt/admin/profilefieldsTest.php</file>
		<file>test/com_xipt/admin/configurationTest.php</file>
		<file>test/com_xipt/admin/syncUpTest.php</file>
		<file>test/com_xipt/admin/walkThroughTest.php</file>
		<file>test/com_xipt/front/registerTest.php</file>
		<file>test/com_xipt/front/profileTest.php</file>
		<file>test/com_xipt/front/searchprofiletypeTest.php</file>
		<!--
		<file>test/com_xipt/front/frontAclRulesTest.php</file>
		<file>test/com_xipt/front/aclRuleTest.php</file>
		-->
		<file>test/com_xipt/front/applicationForFrontTest.php</file>
		<file>test/ui/aclRuleTest.php</file>
	 </testsuite>
	
	<listeners>
		<listener class="XiTestListener" file="./system/XiTestListener.php" />
	</listeners>
</phpunit>
