<phpunit
	bootstrap="bootstrap.php"
	colors="true"
	testdox="true"
	verbose="true"
	backupStaticAttributes="false"
	backupGlobals="false"
	processIsolation="true"
	syntaxCheck="false"
    testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader">
</phpunit>

<testsuites>
  <testsuite name="My Test Suite">
    <directory>.\test</directory>
    <file>.\tests\sampletTest.php</file>
  </testsuite>
</testsuites>
