<phpunit 
		backupGlobals="false" 
		backupStaticAttributes="true" 
		colors="true" syntaxCheck="false">

	<testsuite name="Test suite name">
		<directory>component</directory>
	</testsuite>
	
	<listeners>
		<listener class="XiTestListener" file="./system/XiTestListener.php" />
	</listeners>	
</phpunit>


