<phpunit 
		backupGlobals="false" 
		backupStaticAttributes="true" 
		colors="true" 
		syntaxCheck="false"
		bootstrap="bootstrap.php">

	<testsuite name="Test suite name">
		<directory>test</directory>
	</testsuite>
	
	<listeners>
		<listener class="XiTestListener" file="./system/XiTestListener.php" />
	</listeners>	
</phpunit>


